<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Study @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body{
            background: #eee;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="~/">E-Study</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <form class="form-inline" asp-action="Search" asp-controller="Home" method="get">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="Пошук" aria-label="Search" />
                <button class="btn btn-outline-light my-2 my-sm-0">Знайти</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/university">Університет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/department/all">Інститути</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/specialty/all">Спеціальності</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/group/all">Групи</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink(User.Claims.FirstOrDefault(d => d.Type == "Fullname").Value, "GetMe", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Вийти", "Logout", "Identity", null, new { @class = "nav-link" })
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Увійти", "Login", "Identity", null, new { @class = "nav-link" })
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - 2021 (E-Study)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
